"allowedSubnetPatterns": ${subnet_patterns}
"virtualNetworkBlocklist": ${virtual_network_blocklist}
"subscriptionIds": ${subscription_ids}
"birdLocalASN": ${local_asn}
"tickrate": "${tickrate}"
"bgpCommunityTagStart": ${bgp_community_tag_start}
"clusterImportAllowedNetworks": ${cluster_import_allowed_networks}
${static_bird_config}
